* {
    margin: 20px;
    align-items: center;
}

.container {
    width: 60vw;
    height: 60vh;
    background-color: rgb(231, 199, 255);
    align-items: center;
}

button {
    background-color: rgb(150, 66, 219);
}