header
    display: flex
    justify-content: space-between
    padding: 10px 30px
    color: #7790ED
    font-size: 1 rem
    
    p 
        display: inline-flex
        margin: 20px

main
    .dbchat 
        font-size: 2rem
        padding-top: 20px
        font-weight: 700
    
    p
        padding-top: 20px

    .navigation
        a, p
            text-decoration: none
            display: inline-flex
            margin: 30px

        .gotochat 
            color: white
            background-color: #7790ED
            padding: 5px 20px
            cursor: pointer

            &:hover
                background-color: #5868ac

    img 
        height: 50vh
        width: 50vw



