@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7790ED;
  padding: 20px;
  margin-top: 40px;
}

footer a {
  text-decoration: none;
  color: white;
}