@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  font-family: "Roboto Mono", monospace;
}

.app {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
}

footer {
  display: grid;
  place-items: center;
  background-color: #7790ED;
  color: white;
  padding: 10px;
}

footer a {
  color: white;
  text-decoration: none;
}